/* table {
  width: 80vw;
  text-align: center;
}
th {
  border-bottom: 1px solid #e5eaf2;
}
td {
  border-bottom: 1px solid #e5eaf2;
  font-size: 12px;
}
#btn_fix {
  border: 1px solid #e5eaf2;
  background-color: #fff7e6;
  border-radius: 5px;
  width: 50px;
  height: 30px;
}
#btn_delete {
  border: 1px solid #e5eaf2;
  background-color: #ffa6a1;
  border-radius: 5px;
  width: 50px;
  height: 30px;
} */
